# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/

# Project-specific output
output/
profiler-output/
local_model/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Ruff
.ruff_cache/
/local_model/
