name: Build and Publish Wheel

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"

      - name: Build wheel
        run: uv build --wheel

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*.whl
          tag_name: latest
          draft: false
          prerelease: false
#          make_latest: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}