name: Build Profiler Wheel

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v1
      with:
        version: "latest"

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: uv sync --dev

    - name: Build Wheel
      run: uv build

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: profiler-dist
        path: dist/