name: Build & Release

on:
  push:
    branches: [master]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: golang:alpine
    steps:
      - name: Install deps
        run: apk add --no-cache build-base git

      - uses: actions/checkout@v4

      - name: Build
        run: go build -ldflags '-linkmode external -extldflags "-static" -s -w' -o container-profiler ./src
        env:
          CGO_ENABLED: 1

      - uses: softprops/action-gh-release@v2
        with:
          tag_name: nightly
          files: container-profiler
          prerelease: true